# Variáveis de ambiente e segredos
.env
.env.local
.env.production
.env.*.local
env.js

# Vercel
.vercel

# Dependências
node_modules/
npm-debug.log*

# Build e cache
dist/
build/
.cache/
.parcel-cache/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log
